Repository jakubmarchwiany/habits_api: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different --write, eslint, prettier --write

fix: add error catch (invalid id)
  src/controllers/habits/activities.controller.ts
Due: prettier --list-different --write, eslint

style: remove unnecessary console log
  src/__tests__/activities.controller.test.ts
Due: prettier --list-different --write, eslint

fix: wrong read groupsOfHabits -> habitsIds
  src/__tests__/generator/generator.ts
Due: prettier --list-different --write, eslint

ci: add pm2 to script "start:pro"
  package.json
Due: prettier --write

build: update bun to 1.0.7
  bun.lockb
Due: none

fix: add a new group always failed
  src/controllers/habits/habits.controller.ts
Due: prettier --list-different --write, eslint

refactor: add rule (sort keys)
  .eslintrc.cjs
  bun.lockb
  src/__tests__/activities.controller.test.ts
  src/__tests__/auth.controller.test.ts
  src/__tests__/generator/generator.ts
  src/__tests__/habits.controller.test.ts
  src/__tests__/useful.ts
  src/__tests__/validate_env.ts
  src/controllers/auth/auth.controller.ts
  src/controllers/habits/habits.controller.ts
  src/middleware/schemas/auth/login.schema.ts
  src/middleware/schemas/habits/create_habit.schema.ts
  src/middleware/schemas/habits/get_habits.schema.ts
  src/middleware/schemas/habits/update_groups_of_habits.schema.ts
  src/middleware/schemas/habits/update_habit.schema.ts
  src/models/user/data_stored_in_token.type.ts
  src/models/user/group_of_habits.ts
  src/models/user/habit.ts
  src/models/user/user.ts
  src/server.ts
  src/utils/validate_env.ts
Due: prettier --list-different --write, eslint

build: add cache flags
  .gitignore
  .lintstagedrc
  package.json
Due: prettier --write

feat: add emoji field to Habit
  src/__tests__/generator/generator.ts
  src/__tests__/habits.controller.test.ts
  src/controllers/habits/habits.controller.ts
  src/middleware/schemas/habits/create_habit.schema.ts
  src/models/user/habit.ts
Due: prettier --list-different --write, eslint

feat(add emoji field): change update habit logic
  src/__tests__/habits.controller.test.ts
  src/controllers/habits/habits.controller.ts
  src/middleware/schemas/habits/update_habit.schema.ts
Due: prettier --list-different --write, eslint

build: update dependencies
  bun.lockb
  package.json
Due: prettier --write

Path conditions:
  prettier --list-different --write: any of: *{js,jsx,ts,tsx}
  eslint: any of: *{js,jsx,ts,tsx}
  prettier --write: any of: *.json
