Repository jakubmarchwiany/habits_api: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different --write, eslint --fix, eslint, prettier --write

refactor: utils
  src/utils/catch_error.ts
  src/utils/generator/generator.ts
  src/utils/julia.json
  src/utils/kuba.json
  src/utils/mongoDB.ts
  src/utils/mongoHelper.ts
  src/utils/parse_boolean.ts
  src/utils/sleep.ts
  src/utils/validate_env.ts
  src/utils/validate_env_test.ts
Due: prettier --list-different --write, eslint --fix, eslint, prettier --write

refactor: delete unnecessary types
  src/types/environment.d.ts
Due: prettier --list-different --write, eslint --fix, eslint

refactor: update models
  src/models/activity/activity.ts
  src/models/activity/activity_interface.ts
  src/models/activity/activity_model.ts
  src/models/data_stored_in_token.ts
  src/models/user/data_stored_in_token.type.ts
  src/models/user/group_interface.ts
  src/models/user/group_of_habits.ts
  src/models/user/habit.ts
  src/models/user/habit_interface.ts
  src/models/user/user.ts
  src/models/user/user_interface.ts
  src/models/user/user_model.ts
Due: prettier --list-different --write, eslint --fix, eslint

refactor: update schemas
  src/middleware/schemas/activities/create_activity.schema.ts
  src/middleware/schemas/activities/delete_activity.schema.ts
  src/middleware/schemas/auth/login.schema.ts
  src/middleware/schemas/auth/login_user_schema.ts
  src/middleware/schemas/habit/add_activity_schema.ts
  src/middleware/schemas/habit/create_habit_schema.ts
  src/middleware/schemas/habit/delete_activity_schema.ts
  src/middleware/schemas/habit/delete_habit_schema.ts
  src/middleware/schemas/habit/edit_habit_schema.ts
  src/middleware/schemas/habit/edit_habits_order_schema.ts
  src/middleware/schemas/habit/get_habit_activities_schema.ts
  src/middleware/schemas/habit/get_habits_schema.ts
  src/middleware/schemas/habits/create_habit.schema.ts
  src/middleware/schemas/habits/delete_habit.schema.ts
  src/middleware/schemas/habits/get_activities.schema.ts
  src/middleware/schemas/habits/get_habits.schema.ts
  src/middleware/schemas/habits/update_groups_of_habits.schema.ts
  src/middleware/schemas/habits/update_habit.schema.ts
Due: prettier --list-different --write, eslint --fix, eslint

refactor: update exceptions
  src/middleware/exceptions/authentication_token_missing.exception.ts
  src/middleware/exceptions/http.exception.ts
  src/middleware/exceptions/http.ts
  src/middleware/exceptions/wrong-credentials-exception.ts
  src/middleware/exceptions/wrong_authentication_token.exception.ts
  src/middleware/exceptions/wrong_authentication_token.ts
  src/middleware/exceptions/wrong_credentials.exception.ts
Due: prettier --list-different --write, eslint --fix, eslint

refactor: update middlewares
  src/middleware/auth.middleware.ts
  src/middleware/authentication.ts
  src/middleware/catch_error.ts
  src/middleware/error.middleware.ts
  src/middleware/error.ts
  src/middleware/fake_delay.middleware.ts
  src/middleware/validate.middleware.ts
  src/middleware/validate.ts
Due: prettier --list-different --write, eslint --fix, eslint

style: move controller file
  src/controllers/controller.type.ts
  src/interfaces/controller_interface.ts
Due: prettier --list-different --write, eslint --fix, eslint

perf: update controllers
  src/controllers/auth/auth.controller.ts
  src/controllers/auth_controller.ts
  src/controllers/habit_controller.ts
  src/controllers/habits/activities.controller.ts
  src/controllers/habits/habits.controller.ts
  src/controllers/habits/prepare_habits/aggregateActivities.ts
  src/controllers/habits/prepare_habits/prepareHabits.ts
Due: prettier --list-different --write, eslint --fix, eslint

style: rename app.ts -> main.ts
  src/app.ts
  src/main.ts
Due: prettier --list-different --write, eslint --fix, eslint

refactor: order, variables, naming
  src/server.ts
Due: prettier --list-different --write, eslint --fix, eslint

feat(utils): add error logging in development mode
  src/utils/catch_error.ts
Due: prettier --list-different --write, eslint --fix, eslint

refactor(activity): add required _id field to the activity schema
  src/models/activity/activity.ts
Due: prettier --list-different --write, eslint --fix, eslint

style(auth.controller): clear imports
  src/controllers/auth/auth.controller.ts
Due: prettier --list-different --write, eslint --fix, eslint

refactor(getHabits): remove dearId from res body
  src/controllers/habits/habits.controller.ts
Due: prettier --list-different --write, eslint --fix, eslint

style: clean up
  .gitignore
Due: none

feat: init jest and supertest
  bun.lockb
  jest.config.js
  package.json
  tsconfig.json
Due: prettier --list-different --write, eslint --fix, eslint, prettier --write

style: new words
  cspell.json
Due: prettier --write

style: new eslint rules
  .eslintrc.cjs
Due: prettier --list-different --write, eslint --fix, eslint

feat: add tests for auth controller
  src/__tests__/api.test.ts
  src/__tests__/auth.controller.test.ts
  src/__tests__/useful.ts
Due: prettier --list-different --write, eslint --fix, eslint

feat: add tests for endpoint /habits
  src/__tests__/habits.controller.test.ts
Due: prettier --list-different --write, eslint --fix, eslint

refactor: move authGet/PostRequest to useful.ts
  src/__tests__/habits.controller.test.ts
  src/__tests__/useful.ts
Due: prettier --list-different --write, eslint --fix, eslint

style: add rules for tests
  .eslintrc.cjs
Due: prettier --list-different --write, eslint --fix, eslint

build: remove eslint --fix
  .lintstagedrc
Due: none

feat: dateFrom must be in the past
  src/middleware/schemas/habits/get_habits.schema.ts
Due: prettier --list-different --write, eslint --fix, eslint

feat: add should return 400 for future date
  src/__tests__/habits.controller.test.ts
Due: prettier --list-different --write, eslint --fix, eslint

feat: add updateGroupsOfHabits tests
  src/__tests__/habits.controller.test.ts
Due: prettier --list-different --write, eslint --fix, eslint

refactor: move generator to ___tests___
  cspell.json
  src/__tests__/generator/generator.ts
Due: prettier --list-different --write, eslint --fix, eslint, prettier --write

perf: jest -> bun:test
  .eslintrc.cjs
  bun.lockb
  jest.config.js
  package.json
  src/__tests__/auth.controller.test.ts
  src/__tests__/habits.controller.test.ts
  src/__tests__/useful.ts
  src/__tests__/validate_env.ts
  tsconfig.json
Due: prettier --list-different --write, eslint --fix, eslint, prettier --write

feat: add chance library to tests
  bun.lockb
  package.json
  src/__tests__/auth.controller.test.ts
  src/__tests__/habits.controller.test.ts
Due: prettier --list-different --write, eslint --fix, eslint, prettier --write

feat: add tests for /habits/-/create
  src/__tests__/habits.controller.test.ts
Due: prettier --list-different --write, eslint --fix, eslint

feat: add tests for /habits/:habitId/delete
  src/__tests__/habits.controller.test.ts
Due: prettier --list-different --write, eslint --fix, eslint

style: change unnecessary ` to "
  src/__tests__/habits.controller.test.ts
Due: prettier --list-different --write, eslint --fix, eslint

feat: add tests for /habits/:habitId/activities
  src/__tests__/habits.controller.test.ts
  src/__tests__/validate_env.ts
Due: prettier --list-different --write, eslint --fix, eslint

feat: add dateFrom cannot be future
  src/middleware/schemas/habits/get_activities.schema.ts
Due: prettier --list-different --write, eslint --fix, eslint

ci: change scripts name test -> tests
  package.json
Due: prettier --write

refactor: move /auth/login (token) to useful.ts
  src/__tests__/habits.controller.test.ts
  src/__tests__/useful.ts
Due: prettier --list-different --write, eslint --fix, eslint

style: refactor describe structure
  src/__tests__/auth.controller.test.ts
  src/__tests__/habits.controller.test.ts
Due: prettier --list-different --write, eslint --fix, eslint

feat: add tests for activities controller
  src/__tests__/activities.controller.test.ts
Due: prettier --list-different --write, eslint --fix, eslint

style: clean imports
  src/__tests__/validate_env.ts
Due: prettier --list-different --write, eslint --fix, eslint

fix: miss _id property on create habit
  src/controllers/habits/activities.controller.ts
Due: prettier --list-different --write, eslint --fix, eslint

Path conditions:
  prettier --list-different --write: any of: *{js,jsx,ts,tsx}
  eslint --fix: any of: *{js,jsx,ts,tsx}
  eslint: any of: *{js,jsx,ts,tsx}
  prettier --write: any of: *.json
